.product {
    width: 100%;
    max-width: 250px;
    
    background-color: $color-light;
    border-radius: $border-rad-xl;
    
    margin: 0px $margin-s;
    margin-bottom: $margin-xxl;
    overflow: hidden;



    @media (min-width: 768px) {
        position: relative;
        height: 350px;
    }


    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;


        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__desc {

        color: $color-lightest;
        padding-top: 0;
        color: $color-accent-dark;
        @include dflex(center, flex-start, row, wrap);
        transition: 0.5s;
        

        @media (min-width: 768px) {
            background-color: rgba(50, 50, 50, 0.8);
            padding-top: $padding-xxl;
            color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            @include dflex(space-between, center, column);
            top: 0;
            left: 0;
            opacity: 0;
        }

        &__title {
            margin: $margin-s $margin-s;
        }

        &__details {
            width: 100%;
            @include dflex(flex-start,flex-start, row, wrap);

            @media (min-width: 768px){
                @include dflex(flex-start, center, column, wrap);
            }

            &__item {
                font-size: 0.8rem;
                margin: $margin-s $margin-s;
                padding: $padding-s $padding-s;
                border: 1px solid $color-accent-light;
                border-radius: 15% 15% 15% 15% / 30% 30% 30% 30%;
            }
        }

        &__basket {
            width: 100%;
            padding: $padding-l 0;
            color: $color-accent-dark;
            background-color: yellow;
            @include dflex();
            cursor: pointer;

            &>i {
                margin: 0 $margin-m;
            }
        }

        &:hover {
            transition: 0.5s;
            opacity: 1;
        }

    }




}