

// colors
$color-lightest: #F4F4F2;
$color-light: #E8E8E8;
$color-accent-light: #BBBFCA;
$color-accent-dark: #495464;


//paddings
$padding-xs: 0.2rem;
$padding-s: 0.4rem;
$padding-m: 0.8rem;
$padding-l: 0.9rem;
$padding-xl: 1rem;
$padding-xxl: 1.5rem;
$padding-xxxl: 2rem;

//margins
$margin-xs: 0.2rem;
$margin-s: 0.4rem;
$margin-m: 0.8rem;
$margin-l: 0.9rem;
$margin-xl: 1rem;
$margin-xxl: 1.5rem;
$margin-xxxl: 2rem;


// border radious
$border-rad-s: 4px;
$border-rad-m: 6px;
$border-rad-l: 8px;
$border-rad-xl: 10px;
$border-rad-xxl: 12px;